<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
  </configSections>

  <cacheManager>
    <managers>
      <cache  name="ITCompaniesCacheConfig" updateMode="Up" enableStatistics="false" enablePerformanceCounters="false">
        <handle name="handleName" ref="systemRuntimeHandle" expirationMode="Absolute" timeout="50s"/>
      </cache>
      <cache  name="MoviesCompaniesCacheConfig" updateMode="Up" enableStatistics="false" enablePerformanceCounters="false">
        <handle name="handleName" ref="systemRuntimeHandle" expirationMode="Absolute" timeout="50s"/>
      </cache>
    </managers>
    <cacheHandles>
      <handleDef  id="systemRuntimeHandle" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching"
          defaultExpirationMode="Sliding" defaultTimeout="5m"/>
    </cacheHandles>
  </cacheManager>
</configuration>